<div class="ticket_form">
  <%= form_for @ticket do |f| %>
    <dl>
      <dt>Name</dt>
      <dd><%= f.text_field :name %></dd>
      <dt>Body</dt>
      <dd><%= f.text_area :body %></dd>
      <dt>Status</dt>
      <dd>
        <%= f.select :status, ['new', 'blocked', 'in_progress','fixed'].map{|t| [t, t]}, id: :ticket_status %>

      </dd>
      <dt>Project</dt>
      <dd>
        <%= f.collection_select :project_id, Project.all, :id, :name, {}, id: :ticket_tag_ids, size: Project.count %>
      </dd>
      <dt>Tags</dt>
      <dd>
        <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, multiple: true, id: :ticket_tag_ids, size: Tag.count %>
      </dd>
    </dl>
    <%= f.submit button_text %>
  <% end %>
</div>
